<div class="container">
  <div class="row">
    <div class="col-8">
      <p class="signup-title-text"> BOOK <span class="orange-text">SWAP</span></p>		 	
      <%= image_tag '2-books.svg', class: 'centered signup-image' %>
      <div class="row signup-explanation">
      	<div class="col">
      		<p class="circle-bg"> 1 </p>
      		<div class="signup-stage-box">
      			<h3>Sign up</h3>
      		</div>
      	</div>	
      	<div class="col">
      		<p class="circle-bg""> 2 </p>
      		<div class="signup-stage-box">
      			<h3>Share your books</h3>
      		</div>
      	</div>
      	<div class="col">
      		<p class="circle-bg"> 3 </p>
      		<div class="signup-stage-box">
      			<h3>Borrow</h3>
      		</div>
      	</div>
    </div>  	
    </div>
    <div class="col-4">
      <div id="clearance" class="sign-in">
  		<h2><%= t(".title") %></h2>
  		<%= render partial: '/sessions/form' %>
		</div>
    </div>
  </div>
</div>


