<%= render 'book_details', book: @book %>

<% if @book.belongs_to?(current_user) %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>

<% if @book.available_to_borrow_by?(current_user) %>
  <button class="btn"> <%= link_to "Reserve", new_book_reservation_path(@book) %> </button>
<% end %>

<% if @book.reserved_by?(current_user) %>
 <%= link_to 'Withdraw reservation', [@book, @book.reservation], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



